version: 2
updates:
- package-ecosystem: nuget
  directories:
    - "src/PureQL.CSharp.Model"
    - "src/Tests/PureQL.CSharp.Model.Tests"
  schedule:
    interval: daily
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: weekly
